.elements {
    max-width: 880px;
    padding-top: 51px;
    margin: 0 auto;
  }

@media screen and (max-width: 960px) {
    .elements {
        padding-left: 25px;
        padding-right: 25px;
      }
}

@media screen and (max-width: 768px) {
    .elements {
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 36px;
      }
}