.header__logo {
    max-width: 142px;
    max-height: 33px;
  }
  
  @media screen and (max-width: 768px) {
    .header__logo {
        padding-left: 27px;
        max-width: 103.74px;
        max-height: 24.4px;
      }
  }